<nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/about/" title="About the boilerplate">About</a></li>
      <li><a href="/post1/" title="A New Earth, Somewhere">Recent Post</a></li>
      <li><a href="/post2/" title="Footsteps on Another World">Older Post</a></li>
    </ul>
</nav>